<header class="mt-5 text-center">
    <img src="assets/logo.png" alt="Logo" width="200" height="200">
    <nav class="d-flex justify-content-around w-25 mx-auto">
        <a href="/home">Home</a>
        <p>-</p>
        <a href="/dashboard">Dashboard</a>
        <p>-</p>
        <a href="/search">Search</a>
        <p>-</p>
        <a href="/logout">Logout</a>
    </nav>
    <h2>{{user.username}} Dashboard</h2>
</header>

<main>
    {{#if reviews.length}}
    <div class="row row-cols-1 row-cols-md-4 px-5 gy-5">        
        {{#each reviews as |review|}}
        <div class="col">
            <div class="card h-100">
                {{#if review.movie.poster_link}}
                <img src="{{review.movie.poster_link}}" class="card-img-top" alt="{{review.movie.Title}}">
                {{else}}
                <img class="card-img-top movie-poster" alt="{{review.movie.Title}}">
                {{/if}}
                <div class="card-body">
                    <h5 class="card-title"><a href="/movie/{{review.movie.id}}">{{review.movie.Title}}</a></h5>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p id="no-reviews" class="d-flex justify-content-center align-items-center">Looks like you haven't reviewed anything yet! Start looking for movies <a href="/search"> here</a>.</p>
    {{/if}}
</main>