<header class="w-50 mx-auto text-center mt-5">
    <img src="/assets/logo.png" alt="Logo" width="200" height="200">
</header>

<header class="w-25 mx-auto mt-5 text-center">
    <nav class="d-flex justify-content-around">
        <a href="/home">Home</a>
        <p>-</p>
        <a href="/dashboard">Dashboard</a>
        <p>-</p>
        <a href="/search">Search</a>
        <p>-</p>
        <a href="/logout">Logout</a>
    </nav>
</header>

<main>
    <div class="container text-center">
        <div class="row gx-5 gy-5">
            <div class="col-3">
                <div class="card">
                    {{#if movie.poster_link}}
                    <img src="{{movie.poster_link}}" class="card-img-top" alt="{{movie.Title}}">
                    {{else}}
                    <img class="card-img-top movie-poster" alt="{{movie.Title}}">
                    {{/if}}
                </div>
            </div>
            <div class="col-9">
                <div class="card h-100">
                    <div class="card-title">
                        <h1>{{movie.Title}}</h1>
                    </div>
                    <div class="card-body">
                        <p>
                        Rating: {{movie.Rating}} <br>
                        Year: {{movie.Year}} <br>
                        Month: {{movie.Month}} <br>
                        Certificate: {{movie.Certificate}} <br>
                        Runtime: {{movie.Runtime}} <br>
                        Directors: {{movie.Directors}} <br>
                        Stars: {{movie.Stars}} <br>
                        Genre: {{movie.Genre}} <br>
                        Filming location: {{movie.Filming_location}} <br>
                        Budget: {{movie.Budget}} <br>
                        Income: {{movie.Income}} <br>
                        Country of origin: {{movie.Country_of_origin}}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a id="edit-or-add-review" class="btn btn-primary"></a>
                    </div>
                    <div class="card-title">
                        <h1>Reviews</h1>
                    </div>
                    {{#each movie.reviews as |review|}}
                    <span class="border border-secondary w-100">
                        <div>
                            <br>
                            <h3>{{review.title}}</h3> 
                            <p class="review-body">{{review.body}}</p>
                        </div>
                        <div>
                            Rating is {{review.rate}}/5 stars | 
                            Posted by {{review.user.username}}
                        </div>
                    </span>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/movie.js"></script>