<header class="mt-5 text-center">
    <img src="/assets/logo.png" alt="Logo" width="200" height="200">
    <nav class="d-flex justify-content-around w-25 mx-auto">
        <a href="/home">Home</a>
        <p>-</p>
        <a href="/dashboard">Dashboard</a>
        <p>-</p>
        <a href="/search">Search</a>
        <p>-</p>
        <a href="/logout">Logout</a>
    </nav>
</header>

<main>
    <div class="container text-center">
        <div class="row gx-5 gy-5">
            <div class="col-8 col-md-3">
                <div class="card">
                    {{#if movie.poster_link}}
                    <img src="{{movie.poster_link}}" class="card-img-top" alt="{{movie.Title}}">
                    {{else}}
                    <img class="card-img-top movie-poster" alt="{{movie.Title}}">
                    {{/if}}
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="card h-100">
                    <div class="card-title">
                        <h1>{{movie.Title}}</h1>
                    </div>
                    <div class="card-body">
                        <p>
                        Rating: {{movie.Rating}} <br>
                        Year: {{movie.Year}} <br>
                        Month: {{movie.Month}} <br>
                        Certificate: {{movie.Certificate}} <br>
                        Runtime: {{movie.Runtime}} <br>
                        Directors: {{movie.Directors}} <br>
                        Stars: {{movie.Stars}} <br>
                        Genre: {{movie.Genre}} <br>
                        Filming location: {{movie.Filming_location}} <br>
                        Budget: {{movie.Budget}} <br>
                        Income: {{movie.Income}} <br>
                        Country of origin: {{movie.Country_of_origin}}
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <button class="btn btn-primary" onclick="history.back()">Go Back</button>
                        <a id="edit-or-add-review" class="btn btn-primary"></a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    {{#if movie.reviews}}
                    <h1>Reviews</h1>
                    {{else}}
                    <h1>No Reviews</h1>
                    {{/if}}
                </div>
                {{#each movie.reviews as |review|}}
                    <div style="margin-bottom: 1rem;">
                        <span>
                            <div class="card">
                                <div class="card-header"><h3>{{review.title}}</h3></div>
                                <div class="card-body"><p>{{review.body}}</p></div>
                                <div class="card-footer">
                                    Rating is {{review.rate}}/5 stars | 
                                    Posted by {{review.user.username}}
                                </div>
                            </div>    
                        </span>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>
<script src="/js/movie.js"></script>